.mb-10.input-group {
    margin-bottom: 10px;
}
.forgot_text {
    text-align: right;
}

@media(max-width: 768px){
    .text-white.bg-primary.py-5.card {
        width: auto;
    }
    .p-4 {
        padding: 0rem !important;
    }
    .card-group .card {
        padding: 0rem !important;
    }
    .btn_center {
        text-align: center;
    }
    .forgot_text {
        text-align: center;
    }

}