
.content {
    padding-left: 10px !important;
}
.app_detail {
   position: relative; 
}    
.app_detail h6 {
    padding-top: 5px;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #20a8d8;
    font-weight: 600;
    padding-right: 0px;
    padding-left: 10px;
}
.app_detail h6:first-child {
    padding-left: 29px;
}
.app_detail h5 {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom:0px ;
    padding-left: 10px;
    padding-right: 0px;
    font-weight: 100;
    color: #000;
}
.padding{
    padding: 0px !important;
}

input#no {
    position: absolute;
    top:-3px;
    right: 1px;
    z-index: 99;
    cursor: pointer;

}
.app-img{
    width: 70px;
    height: 50px;
    border-radius: 5px;
}
.app_list{
    height: 600px;
    overflow-y: scroll;
    width: 100%;
    overflow-x: hidden;
}
.shadow_card{
    -webkit-box-shadow: 2px 2px 10px 0px rgba(168,166,168,1);
    -moz-box-shadow: 2px 2px 10px 0px rgba(168,166,168,1);
    box-shadow: 2px 2px 10px 0px rgba(168,166,168,1);  
    border: none !important;
    border-radius: 5px;
    padding: 15px;
}
.selectedP {
    margin-top: 10px;
    margin-left: 11px;
    border-radius: 5px;
    margin-right: 5px;
}
.selectP {
    background-color: transparent !important;
    border:2px solid #1985ac !important;
    color:#1985ac !important;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    margin-right: 5px;
}
.selectedPAction {
    /* margin-top: 10px;
    margin-left: 11px;
    border-radius: 5px;
    margin-right: 5px; */
}
.selectPAction {
    /* background-color: transparent !important;
    border:2px solid #1985ac !important;
    color:#1985ac !important; */
    /* margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    margin-right: 5px; */
}
.list-group {
    padding-left: 0;
    margin: -16px auto 20px auto;
    width: 99.50%;
} 
.list-group-item {
    padding: 3px !important;
    z-index: 999999999999999;
    cursor: pointer;
}

.btn-group button {
    margin-left: 8px;
}

@media(max-width: 768px){
    .custom-ads{
        width:auto !important;
    }

    .btn-group button {
        margin-left: 0px !important;
        margin-bottom: 5px !important;
    }

    .content {
        padding-left: 5px !important;
        margin-top: 5px !important;
    }
}

.break-word{
    word-break: break-all;
    padding-top: 0px; 
    display: inline-block;
}

.item_name {
    word-break: break-all; 
    padding: 0 10px; 
    display: inline-block; 
    vertical-align: top; 
    width: calc(100% - 70px); 
}

.item_image {
    width: 70px; 
    height: 50px; 
    padding: 0 10px; 
    border-radius: 7px; 
    display: inline-block; 
    margin-top: 3px; 
}

.app_color {
    color: #20a8d8; 
    font-size: 20px;
}

.details_break{
    word-break:break-all;
}

.listhasapp{
    margin-left: 8px;
}
.app-title-icon2 {

}
.app-title-icon2 img {
    display: inline-block;
    width: 70px;
    height: 50px;
    margin-right:20px;
    vertical-align: top;
    border-radius: 5px;
}
.app-title-icon2 .app_detail {
   display: inline-block;
}
.app_detail2 h5 {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 0px;
    font-weight: 100;
    color: #000;
}
.app_detail2 h6 {
    padding-top: 5px;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #20a8d8;
    font-weight: 600;
    padding-right: 0px;
    padding-left: 10px;
}
.media-body {
    flex: 1;
    display: grid;
}
.media-body .btn-primary {
    width: 100px;
}
.btn-group button {
    margin-left: 5px !important;
}
@media(max-width: 1200px){
    .btn-group {
        display: block !important;
    }
}
@media(max-width: 768px){
   .app-title-icon2 {
       text-align: center;
       margin: 0 auto 5px auto;
   }
   .m-b-0 {
       margin-bottom:15px !important;
    }
   .btn-center {
       text-align: center;
       margin-bottom: 10px;
    }
   .btn-center .btn-group {
        display: block;
    }
    .btn-group button {
        margin-left: 5px !important;
    }
    .app-title-icon2 img {
       display:block;
       text-align:center;
       margin: 0 auto;
    }
    .app-title-icon2 .app_detail {
      display: block;
      text-align:center;
      margin: 10px auto 0px auto;
    }
    
}